
.logo{
    width: 11em;
    left: -35em;
    top: 1em;
    position : relative;
    z-index: 6;
    cursor: pointer;
}

#menuicon{
    display: none;
}

.rose1{
    overflow: scroll;
    width: 26em;
    left: 0em;
    top: 26em;
    position: absolute;
    position: fixed;
    z-index: 4;
    transition: all 0.4s;
}

.rose2{
    overflow: scroll;
    width: 26em;
    left: 70em;
    top: 0em;
    z-index: 4;
    position: fixed;
    transition: all 0.4s;
}

.mainSquare{
    border-width: 0.2em;
    border-color: black;
    border-style: solid;
    left: 3em;
    top: 0em;
    width: 80.3em;
    height: 140em;
    margin-left: 4.5%;
    margin-top: 16%;
    position: absolute;
    z-index: 1;
    transition: all 0.4s;
}

.barSquare{
    border-width: 0.2em;
    border-color: black;
    border-style: solid;
    top: 9em;
    left: 21em;
    width: 53em;
    height: 4.2em;
    position: absolute;
    z-index: 2;
    transition: all 0.4s;
}

.roundCheck {
    height: 3.1em; 
    width: 8.2em;
    margin-top: 0.38em;
    margin-left: -18.2em;
    border: 3px solid black;
    border-radius: 3em;
    position: absolute;
    z-index: 13;
    transition: all 0.4s;
}


/* 메인 사각형 안 */
.word1{
    margin-top: 5em;
}

.word2{
    margin-top: 35em;
}

.word3{
    margin-top: 65em;
}

.word4{
    margin-top: 95em;
}

.word1, .word2, .word3, .word4{
    width: 50em;
    left: 6em;
    position: absolute;
    transition: all 0.4s;
}

.img1{
    margin-top: 5em;
}

.img2{
    margin-top: 35em;
}

.img3{
    margin-top: 65em;
}

.img4{
    margin-top: 95em;
}

.img1, .img2, .img3, .img4{
    width: 15em; 
    left: 60em;
    position: absolute;
    transition: all 0.4s;
}

/* 폰트 */

.font1{
    font-family: 나눔명조;
    font-size: 4rem;
    left: 8.4em;
    top: 0.6em;
    display: inline;
    position: absolute;
    z-index: 2;
    transition: all 0.4s;
}

.font2-1{
    font-family: 나눔명조;
    font-size: 2.5rem;
    display: inline;
    margin-top: 0.08em;
    margin-left: 0.01em;
    cursor: pointer;
}

.font2{
    font-family: 나눔명조;
    font-size: 2.5rem;
    display: inline;
    margin-top: 0.08em;
    margin-left: 1.5em;
    cursor: pointer;
}

.font2-1:hover{
    transform: translateY(-10px);
}

.font2:hover{
    transform: translateY(-10px);
}

/* 햄버거 메뉴 */

input[id="menuicon"] + label{
    display:block; 
    margin: 3em;
    width: 3em;
    height: 2.6em;
    right: 0em;
    top:calc(7% - 25px);
    z-index: 10;
    cursor:pointer;
    position:fixed;
}

input[id="menuicon"] + label span{
    width: 3.4em;
    height: 0.34em;
    border-radius: 30px;
    background: #000;
    transition: all .35s;
    display: block;
    position: absolute;
}

input[id="menuicon"] + label span:nth-child(1) {
    top:0;
}
input[id="menuicon"] + label span:nth-child(2){
    top:50%;
    transform:translateY(-50%);
}
input[id="menuicon"] + label span:nth-child(3){
    bottom:0;
}
input[id="menuicon"]:checked + label{
    z-index:8;
    right:250px;
}     
input[id="menuicon"]:checked + label span {
    background:#000;
}
input[id="menuicon"]:checked + label span:nth-child(1){
    top:50%;
    transform:translateY(-50%) rotate(45deg);
}
input[id="menuicon"]:checked + label span:nth-child(2){
    opacity:0;
}
input[id="menuicon"]:checked + label span:nth-child(3){
    bottom:50%;
    transform:translatey(50%) rotate(-45deg);
}

.sidebar {
    width: 18em;
    height: 100%;
    top:0;
    right: -30em;
    background: #222;
    position: fixed;
    z-index:10;
}

input[id="menuicon"]:checked + label + div {
    right: 0;
}

.menuFont1{
    font-family: 나눔명조;
    font-size: 1.8rem;
    color: #fff;
    margin-top: 1em;
    cursor: pointer;
    z-index: 20;
}

.menuFont2{
    font-family: 나눔명조;
    font-size: 1.8rem;
    color: #fff;
    margin-top: 1em;
    cursor: pointer;
    z-index: 20;
}

@media (max-width: 1400px){
    .logo{
        left: -34em;
    }

    .rose2{
        left: 59em;
    }

    .barSquare{
        left: 15em;
    }

    .mainSquare{
        width: 68em;
        height: 130em;
        left: 4.5em;
        top: 2em;
    }

    .img1, .img2, .img3, .img4{
        width: 13em; 
        left: 51em;
    }

    .font1{
        left: 6.8em;
    }

}

@media (max-width: 1290px){
    .logo{
        left: -33em;
    }

    .rose2{
        left: 53em;
    }

    .barSquare{
        left: 12em;
    }

    .mainSquare{
        width: 68em;
        height: 130em;
        left: 1.7em;
        top: 2em;
    }

    .img1, .img2, .img3, .img4{
        width: 13em; 
        left: 51em;
    }

    .font1{
        left: 6em;
    }

}

@media (max-width: 1220px) {
    .logo{
        width: 10em;
        left: -32em;
        top: 0.8em;
    }

    .rose1{
        width: 24em;
        top: 27.2em;
    }
    
    .rose2{
        width: 24em;
        left: 52em;
        top: 0em;
    }

    .barSquare{
        width: 51em;
        left: 11em;
    }

    .mainSquare{
        width: 65em;
        height: 130em;
        left: 1em;
        top: 3em;
    }

    .word1, .word2, .word3, .word4{
        width: 45em;
        left: 4em;
    }

    .img1, .img2, .img3, .img4{
        width: 13em; 
        left: 47em;
    }

    .font1{
        left: 5.5em;
    }
    
}

@media (max-width: 1120px){
    .logo{
        width: 10em;
        left: -28em;
        top: 0.6em;
    }

    .rose1{
        width: 22em;
        top: 28.7em;
    }
    
    .rose2{
        width: 22em;
        left: 49em;
        top: 0em;
    }

    .barSquare{
        width: 49em;
        left: 10em;
    }

    .mainSquare{
        width: 60em;
        height: 130em;
        left: 1.3em;
        top: 4em;
    }

    .word1, .word2, .word3, .word4{
        width: 42em;
        left: 3em;
    }

    .img1, .img2, .img3, .img4{
        width: 11em; 
        left: 43em;
    }

    .font1{
        left: 5.5em;
    }
}


@media (max-width: 1040px) {
    .logo{
        width: 9em;
        left: -26em;
        top: 0.6em;
    }

    .rose1{
        width: 22em;
        top: 30em;
    }
    
    .rose2{
        width: 22em;
        left: 46em;
        top: 0em;
    }

    .barSquare{
        width: 45em;
        left: 9.2em;
    }

    .mainSquare{
        width: 56em;
        height: 130em;
        left: 1.3em;
        top: 4em;
    }

    .roundCheck {
        height: 2.8em; 
        width: 6.8em;
        margin-top: 0.38em;
        margin-left: -16.8em;
    }

    .word1, .word2, .word3, .word4{
        width: 42em;
        left: 3em;
    }

    .img1, .img2, .img3, .img4{
        width: 11em; 
        left: 41em;
    }

    .font1{
        left: 4.5em;
    }

    .font2{
        font-size: 2.3rem;
        margin-top: 0.08em;
        margin-left: 1.5em;
    }
    
    .font2-1{
        font-size: 2.3rem;
        margin-top: 0.08em;
        margin-left: 0.01em;
    }
}

@media (max-width: 980px){
    .logo{
        width: 9em;
        left: -24em;
        top: 0.6em;
    }

    .rose1{
        width: 22em;
        top: 30em;
    }
    
    .rose2{
        width: 22em;
        left: 41em;
        top: 0em;
    }

    .barSquare{
        width: 43em;
        left: 8.3em;
    }

    .mainSquare{
        width: 52em;
        height: 130em;
        left: 1.1em;
        top: 5em;
    }

    .roundCheck {
        height: 2.8em; 
        width: 6.6em;
        margin-top: 0.38em;
        margin-left: -14.6em;
    }

    .word1, .word2, .word3, .word4{
        width: 40em;
        left: 2em;
    }

    .img1, .img2, .img3, .img4{
        width: 11em; 
        left: 38em;
    }

    .font1{
        font-size: 3.5rem;
        left: 5em;
    }

    .font2{
        font-size: 2rem;
        margin-top: 0.2em;
        margin-left: 1.5em;
    }
    
    .font2-1{
        font-size: 2rem;
        margin-top: 0.2em;
        margin-left: 0.01em;
    }
}

@media (max-width: 900px) {
    .logo{
        width: 9em;
        left: -23.3em;
        top: 0.6em;
    }

    .rose1{
        width: 22em;
        top: 32em;
    }
    
    .rose2{
        width: 22em;
        left: 38em;
        top: 0em;
    }

    .barSquare{
        width: 40em;
        left: 8.3em;
        top: 7.5em;
    }

    .mainSquare{
        width: 49em;
        height: 130em;
        left: 1em;
        top: 5em;
    }

    .roundCheck {
        height: 2.8em; 
        width: 6.6em;
        margin-top: 0.38em;
        margin-left: -14.6em;
    }

    .word1, .word2, .word3, .word4{
        width: 37em;
        left: 2em;
    }

    .img1, .img2, .img3, .img4{
        width: 11em; 
        left: 36em;
    }

    .font1{
        font-size: 3.2rem;
        left: 5.3em;
    }

    .font2{
        font-size: 2rem;
        margin-top: 0.2em;
        margin-left: 1.5em;
    }
    
    .font2-1{
        font-size: 2rem;
        margin-top: 0.2em;
        margin-left: 0.01em;
    }

    input[id="menuicon"] + label{
        margin: 2em;
        width: 1em;
        height: 2.3em;
        right: 2em;
        top:calc(7% - 25px);
    }

    input[id="menuicon"] + label span{
        width: 2.7em;
        height: 0.3em;
    }

    .sidebar {
        width: 14em;
        height: 100%;
        top:0;
        right: -30em;
    }
}

@media (max-width: 800px) {
    .logo{
        width: 8em;
        left: -20em;
        top: 0.6em;
    }

    .rose1{
        width: 22em;
        top: 32em;
    }
    
    .rose2{
        width: 22em;
        left: 32em;
        top: 0em;
    }

    .barSquare{
        width: 36em;
        left: 6em;
        top: 7.5em;
    }

    .mainSquare{
        width: 44em;
        height: 130em;
        left: 0em;
        top: 5em;
    }

    .roundCheck {
        height: 2.8em; 
        width: 6em;
        margin-top: 0.38em;
        margin-left: -14.5em;
    }

    .word1, .word2, .word3, .word4{
        width: 37em;
        left: 1em;
    }

    .img1, .img2, .img3, .img4{
        width: 9em; 
        left: 32em;
    }

    .font1{
        font-size: 2.7rem;
        left: 5.3em;
        top: 1em;
    }

    .font2{
        font-size: 2rem;
        margin-top: 0.2em;
        margin-left: 1.5em;
    }
    
    .font2-1{
        font-size: 2rem;
        margin-top: 0.2em;
        margin-left: 0.01em;
    }

}

@media (max-width: 700px){
    .logo{
        width: 8em;
        left: -16em;
        top: 0.6em;
    }

    .rose1{
        width: 18em;
        top: 35em;
    }
    
    .rose2{
        width: 18em;
        left: 27.2em;
        top: 0em;
    }

    .barSquare{
        width: 32em;
        left: 4.5em;
        top: 7.5em;
    }

    .mainSquare{
        width: 37.5em;
        height: 130em;
        left: 0em;
        top: 6em;
    }

    .roundCheck {
        height: 2.6em; 
        width: 5em;
        margin-top: 0.38em;
        margin-left: -13em;
    }

    .word1, .word2, .word3, .word4{
        width: 36em;
        left: 1em;
    }

    .img1{
        margin-top: 20em;
    }
    
    .img2{
        margin-top: 51em;
    }
    
    .img3{
        margin-top: 81em;
    }

    .img4{
        margin-top: 111em;
    }

    .img1, .img2, .img3, .img4{
        width: 8em; 
        left: 2em;
    }

    .font1{
        font-size: 2.6rem;
        left: 4.5em;
        top: 1em;
    }

    .font2{
        font-size: 1.8rem;
        margin-top: 0.2em;
        margin-left: 1.5em;
    }
    
    .font2-1{
        font-size: 1.8rem;
        margin-top: 0.2em;
        margin-left: 0.01em;
    }
}

@media (max-width: 600px){
    .logo{
        width: 8em;
        left: -14em;
        top: 0.6em;
    }

    .rose1{
        width: 18em;
        top: 35em;
    }
    
    .rose2{
        width: 18em;
        left: 23em;
        top: 0em;
    }

    .barSquare{
        width: 29em;
        height: 3.8em;
        left: 4em;
        top: 7.5em;
    }

    .mainSquare{
        width: 33.2em;
        height: 130em;
        left: 0em;
        top: 7em;
    }

    .roundCheck {
        height: 2.6em; 
        width: 5em;
        margin-top: 0.38em;
        margin-left: -11em;
    }

    .word1, .word2, .word3, .word4{
        width: 35em;
        left: 1em;
    }

    .img1{
        margin-top: 20em;
    }
    
    .img2{
        margin-top: 51em;
    }
    
    .img3{
        margin-top: 81em;
    }

    .img4{
        margin-top: 111em;
    }

    .img1, .img2, .img3, .img4{
        width: 7em; 
        left: 2em;
    }

    .font1{
        font-size: 2.3rem;
        left: 4.5em;
        top: 1em;
    }

    .font2{
        font-size: 1.5rem;
        margin-top: 0.4em;
        margin-left: 1.5em;
    }
    
    .font2-1{
        font-size: 1.5rem;
        margin-top: 0.4em;
        margin-left: 0.01em;
    }
}

@media (max-width: 500px){
    .logo{
        width: 6.5em;
        left: -11em;
        top: 0.6em;
    }

    .rose1{
        display: none;
    }
    
    .rose2{
        display: none;
    }

    .barSquare{
        width: 26.8em;
        height: 3.8em;
        left: 2em;
        top: 6.8em;
    }

    .mainSquare{
        width: 28em;
        height: 130em;
        left: 0em;
        top: 7em;
    }

    .roundCheck {
        height: 2.6em; 
        width: 5em;
        margin-top: 0.38em;
        margin-left: -10.9em;
    }

    .word1, .word2, .word3, .word4{
        width: 33.5em;
        left: 0em;
    }

    .img1{
        margin-top: 20em;
    }
    
    .img2{
        margin-top: 51em;
    }
    
    .img3{
        margin-top: 81em;
    }

    .img4{
        margin-top: 111em;
    }

    .img1, .img2, .img3, .img4{
        width: 7em; 
        left: 1em;
    }

    .font1{
        font-size: 2.3rem;
        left: 2.9em;
        top: 1em;
    }

    .font2{
        font-size: 1.5rem;
        margin-top: 0.4em;
        margin-left: 1.5em;
    }
    
    .font2-1{
        font-size: 1.5rem;
        margin-top: 0.4em;
        margin-left: 0.01em;
    }
}

@media (max-width: 415px) {
    .logo{
        width: 6em;
        left: -9.8em;
        top: 0.6em;
    }

    .rose1{
        display: none;
    }
    
    .rose2{
        display: none;
    }

    .barSquare{
        width: 23em;
        height: 3.8em;
        left: 1.6em;
        top: 6.3em;
    }

    .mainSquare{
        width: 23em;
        height: 130em;
        left: 0.4em;
        top: 7em;
    }

    .roundCheck {
        height: 2.6em; 
        width: 4.3em;
        margin-top: 0.38em;
        margin-left: -9.4em;
    }

    .word1, .word2, .word3, .word4{
        width: 28em;
        left: 0em;
    }

    .img1{
        margin-top: 20em;
    }
    
    .img2{
        margin-top: 51em;
    }
    
    .img3{
        margin-top: 81em;
    }

    .img4{
        margin-top: 111em;
    }

    .img1, .img2, .img3, .img4{
        width: 6em; 
        left: 1em;
    }

    .font1{
        font-size: 2rem;
        left: 3em;
        top: 1em;
    }

    .font2{
        font-size: 1.5rem;
        margin-top: 0.4em;
        margin-left: 1em;
    }
    
    .font2-1{
        font-size: 1.5rem;
        margin-top: 0.4em;
        margin-left: 0.01em;
    }

    input[id="menuicon"] + label{
        margin: 0em;
        width: 1em;
        height: 2em;
        right: 9em;
        top:calc(7% - 25px);
    }

    input[id="menuicon"] + label span{
        width: 2em;
        height: 0.3em;
    }

    .sidebar {
        width: 14em;
        height: 100%;
        top:0;
        right: -30em;
    }
}

@media (max-width: 376px) {
    .logo{
        width: 5.6em;
        left: -8.8em;
        top: 0.6em;
    }

    .rose1{
        display: none;
    }
    
    .rose2{
        display: none;
    }

    .barSquare{
        width: 20.6em;
        height: 3.8em;
        left: 1.5em;
        top: 6.3em;
    }

    .mainSquare{
        width: 20.6em;
        height: 130em;
        left: 0.4em;
        top: 7em;
    }

    .roundCheck {
        height: 2.3em; 
        width: 4.1em;
        margin-top: 0.38em;
        margin-left: -7.8em;
    }

    .word1, .word2, .word3, .word4{
        width: 24em;
        left: 0em;
    }

    .img1{
        margin-top: 20em;
    }
    
    .img2{
        margin-top: 51em;
    }
    
    .img3{
        margin-top: 81em;
    }

    .img4{
        margin-top: 111em;
    }

    .img1, .img2, .img3, .img4{
        width: 6em; 
        left: 1em;
    }

    .font1{
        font-size: 1.8rem;
        left: 3em;
        top: 1.4em;
    }

    .font2{
        font-size: 1.3rem;
        margin-top: 0.4em;
        margin-left: 1em;
    }
    
    .font2-1{
        font-size: 1.3rem;
        margin-top: 0.4em;
        margin-left: 0.01em;
    }

    input[id="menuicon"] + label{
        margin: 0em;
        width: 1em;
        height: 2em;
        right: 9em;
        top:calc(7% - 25px);
    }

    input[id="menuicon"] + label span{
        width: 2em;
        height: 0.3em;
    }

    .sidebar {
        width: 13em;
        height: 100%;
        top:0;
        right: -50em;
    }

    .menuFont1{
        font-size: 1rem;
        margin-top: 1em;
        margin-left: -5em;
    }
    
    .menuFont2{
        font-size: 1rem;
        margin-top: 1em;
        margin-left: -5em;
    }
}

/* @media (max-height: 733px){
    .rose1{
        display: none;
    }

    .rose2{
        display: none;
    }
}

@media (min-height: 738px){
    .rose1{
        display: none;
    }

    .rose2{
        display: none;
    }
} */