div{
    display: flex;
    justify-content: center;
}

.logo{
    width: 15%;
    height: 100%;
    left: -43%;
    top: 22%;
    position : relative;
    z-index: 3;
    cursor: pointer;
}

.rose1{
    overflow: scroll;
    width: 30%;
    height: 48%;
    left: 0%;
    top: 55%;
    position: fixed;
    position: absolute;
    z-index: 4;
    position: fixed;
}

.rose2{
    overflow: scroll;
    width: 33%;
    height: 41%;
    left: 72%;
    top: 0%;
    z-index: 4;
    position: fixed;
}

.mainSquare{
    border-width: 3%;
    border-color: black;
    border-style: solid;
    left: 10%;
    top: -1%;
    width: 70%;
    height: 800%;
    margin-left: 80px;
    margin-top: 230px;
    position: absolute;
    z-index: 1;
}

.barSquare{
    border-width: 3%;
    border-color: black;
    border-style: solid;
    top: 3%;
    left: 8%;
    width: 55%;
    height: 9%;
    margin-top: 8%;
    margin-left: 15%;
    position: absolute;
    z-index: 2;
}

.font1{
    font-family: 나눔명조;
    font-size: 400%;
    left: 39%;
    top: 5%;
    display: inline;
    position: absolute;
    z-index: 2;
}

.font2{
    font-family: 나눔명조;
    font-size: 250%;
    display: inline;
    margin-top: 0.3%;
    margin-left: 7%;

}

.font2-1{
    font-family: 나눔명조;
    font-size: 250%;
    display: inline;
    margin-top: 0.3%;
    margin-left: 0.1%;
}


@media (max-width: 1240px) {
    .rose1{
        width: 30%;
        height: 43%;
        left: 0%;
        top: 60%;
    }
    
    .rose2{
        width: 33%;
        height: 36%;
        left: 72%;
        top: 0%;
    }
    
    .mainSquare{
        top: -2%;
    }
    
    .barSquare{
        top: 5%;
        left: 10%;
        width: 55%;
        height: 9%;
        margin-top: 8%;
        margin-left: 15%;
        padding-top: 0.5%;
    }

    .font1{
        font-size: 350%;
        left: 39%;
        top: 5%;
        z-index: 2;
    }

    .font2{
        font-size: 200%;
        margin-top: 0.3%;
        margin-left: 7%;
    
    }
    
    .font2-1{
        font-size: 200%;
        margin-top: 0.3%;
        margin-left: 0.1%;
    }
}

.sideBar{
    background-color: #000000;
    width: 800%;
    height: 1000%;
    position: relative;
    z-index: 5;
}

@media (max-width: 1060px) {
    .rose1{
        width: 30%;
        height: 38%;
        left: 0%;
        top: 65%;
    }
    
    .rose2{
        width: 33%;
        height: 31%;
        left: 72%;
        top: 0%;
    }

    .mainSquare{
        top: -3%;
    }

    .barSquare{
        top: 5%;
        left: 12%;
        width: 55%;
        height: 9%;
        margin-top: 8%;
        margin-left: 15%;
        padding-top: 0.5%;
    }

    .font1{
        font-size: 330%;
        left: 41%;
        top: 5%;
        z-index: 2;
    }

    .font2{
        font-size: 180%;
        margin-top: 0.3%;
        margin-left: 7%;
    
    }
    
    .font2-1{
        font-size: 180%;
        margin-top: 0.3%;
        margin-left: 0.1%;
    }
}