.shape1_1{
    align-items: center;
    width: 200%;
    height: 400%;
    position: absolute;
    z-index: 1;
}

.shape1_2{
    display: none;
}


.shape2_1{
    align-items: center;
    width: 200%;
    height: 400%;
    position: absolute;
    z-index: 2;
}

.shape2_2{
    display: none;
}


.shape3_1{
    align-items: center;
    width: 200%;
    height: 400%;
    position: absolute;
    z-index: 2;
}

.logo{
    width: 220px;
    height: 170px;
    position: relative;
    z-index: 3;
}

.speechBubble1_1{
    width: 290px;
    height: 135px;
    left: 77%;
    top: 33%;
    position: absolute;
    z-index: 3;
}

.speechBubble1_1:hover{
    cursor: pointer;
}

.speechBubble2_1{
    width: 270px;
    height: 100px;
    left: 78%;
    top: 112%;
    position: absolute;
    z-index: 3;
}

.speechBubble3_1{
    width: 240px;
    height: 150px;
    left: 80%;
    top: 240%;
    position: absolute;
    z-index: 3;
}

.row {
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0;
    font-size: 0px;
}

.hamburgerMemu{
    cursor: pointer;
    width: 60px;
    height: 30px;
    top: 27%;
    left: 90%;
    display: none;
    position: absolute;
    transition: all ease 1s;
    z-index: 3;
}

.hamburgerMemu:hover {
    transform: rotateY( 180deg );
}

.sideBar{
    width: 15%;
    height: 420%;
    top: 5%;
    left: 86%;
    transition: all ease 0.5s;
    display: none;
    position: absolute;
    z-index: 4;
}

.xButton{
    width: 50px;
    height: 25px;
    top: 13%;
    left: 97%;
    display: none;
    position: absolute;
    z-index: 5;
}

@media (max-width: 1400px) {

    .speechBubble1_1 {
      display: none;
    }
    .speechBubble2_1 {
        display: none;
    }
    .speechBubble3_1 {
        display: none;
    }
    .hamburgerMemu{
        display: block;
    }

  }

  @media (max-width: 872px) {
    .logo{
        width: 180px;
        height: 140px;
        position: relative;
        z-index: 3;
    }
    .shape1_1{
        display: none;
    }
    .shape1_2{
        width: 200%;;
        height: 183%;
        top: 18%;
        display: block;
        position: absolute;
        z-index: 1;
    }

    .shape2_1{
        display: none;
    }

    .shape2_2{
        width: 200%;;
        height: 253%;
        top: 130%;
        display: block;
        position: absolute;
        z-index: 1;
    }

    .shape3_1{
        display: none;
    }

    .hamburgerMemu{
        width: 60px;
        height: 30px;
        top: 27%;
        left: 87%;
        display: block;
    }
  }

  @media (max-width: 530px) {
    .shape1_2{
        width: 200%;;
        height: 183%;
        top: 18%;
        display: block;
        position: absolute;
        z-index: 2;
    }

    .logo{
        width: 140px;
        height: 105px;
    }
   
    .hamburgerMemu{
        width: 53px;
        height: 25px;
        top: 27%;
        left: 83%;
        display: block;
    }
  }