

.shape1_1{
    align-items: center;
    width: 200%;
    height: 400%;
    transition: all ease 0.5s;
    position: absolute;
    z-index: 1;
}

.shape1_2{
    display: none;
}


.shape2_1{
    align-items: center;
    width: 200%;
    height: 400%;
    transition: all ease 0.5s;
    position: absolute;
    z-index: 2;
}

.shape2_2{
    display: none;
}


.shape3_1{
    align-items: center;
    width: 200%;
    height: 400%;
    transition: all ease 0.5s;
    position: absolute;
    z-index: 2;
}

.shape4_1{
    display: none;
}

.logo{
    width: 220px;
    height: 170px;
    left: -42%;
    position: relative;
    z-index: 3;
}

.speechBubble1_1{
    width: 290px;
    height: 135px;
    left: 77%;
    top: 33%;
    position: absolute;
    z-index: 3;
}

.speechBubble1_1:hover{
    cursor: pointer;
}

.speechBubble2_1{
    width: 270px;
    height: 100px;
    left: 78%;
    top: 112%;
    position: absolute;
    z-index: 3;
}

.speechBubble3_1{
    width: 240px;
    height: 150px;
    left: 80%;
    top: 240%;
    position: absolute;
    z-index: 3;
}

#menuicon{
    display: none;
}

.row {
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0;
    font-size: 0px;
}

@media (max-width: 1400px) {

    .speechBubble1_1 {
      display: none;
    }
    .speechBubble2_1 {
        display: none;
    }
    .speechBubble3_1 {
        display: none;
    }
    input[id="menuicon"]{
        display:none;
    }
    
    input[id="menuicon"] + label{
        display:block; 
        margin:20px;
        width:50px;
        height:40px;
        position:fixed;
        right:6%;
        top:calc(7% - 25px);
        cursor:pointer;
        z-index: 10;
        
    }
    
    input[id="menuicon"] + label span{
        display:block;
        position:absolute;
        width:80%;
        height:5px;
        border-radius:30px;
        background:#000;
    }
    
    input[id="menuicon"] + label span:nth-child(1) {
        top:0;
    }
    input[id="menuicon"] + label span:nth-child(2){
        top:50%;
        transform:translateY(-50%);
    }
    input[id="menuicon"] + label span:nth-child(3){
        bottom:0;
    }
    input[id="menuicon"]:checked + label{
        z-index:8;
        right:250px;
    }     
    input[id="menuicon"]:checked + label span {
        background:#000;
    }
    input[id="menuicon"]:checked + label span:nth-child(1){
        top:50%;
        transform:translateY(-50%) rotate(45deg);
    }
    input[id="menuicon"]:checked + label span:nth-child(2){
        opacity:0;
    }
    input[id="menuicon"]:checked + label span:nth-child(3){
        bottom:50%;
        transform:translatey(50%) rotate(-45deg);
    }
    
    .sidebar {
        width:250px;
        height:100%;
        background:#222;
        position:fixed;
        top:0;
        right:-300px;
        z-index:10;
    }
    
    input[id="menuicon"]:checked + label + div {
        right:0;
    }
    
    .menuFont1{
        font-family: 나눔명조;
        font-size: 27px;
        color: #fff;
        margin-top: 45%;
        cursor: pointer;
        z-index: 20;
    }
    
    .menuFont2{
        font-family: 나눔명조;
        font-size: 27px;
        color: #fff;
        margin-top: 35%;
        cursor: pointer;
        z-index: 20;
    }
  }


  @media (max-width: 872px) {
    .logo{
        width: 180px;
        height: 140px;
        left: -38%;
        position: relative;
        z-index: 3;
    }
    
    .shape1_1{
        display: none;
    }
    .shape1_2{
        width: 200%;;
        height: 183%;
        top: 18%;
        transition: all ease 0.5s;
        display: block;
        position: absolute;
        z-index: 1;
    }

    .shape2_1{
        display: none;
    }

    .shape2_2{
        width: 200%;;
        height: 253%;
        top: 130%;
        transition: all ease 0.5s;
        display: block;
        position: absolute;
        z-index: 1;
    }

    .shape3_1{
        display: none;
    }
  }

  @media (max-width: 530px) {
    input[id="menuicon"] + label{
        margin:8px;
        width:40px;
        height:30px;
        right:7%;
        top:calc(7% - 25px);
    }
    input[id="menuicon"] + label span{
        width: 70%;
    }

    .shape1_2{
        width: 200%;;
        height: 183%;
        top: 18%;
        display: block;
        position: absolute;
        z-index: 2;
    }

    .shape4_1{
        width: 250%;;
        height: 253%;
        top: 410%;
        transition: all ease 0.5s;
        display: block;
        position: absolute;
        z-index: 1;
    }
    .logo{
        width: 140px;
        height: 105px;
    }
   
  }