input[id="menuicon"]{
    display:none;
}
input[id="menuicon"] + label{
    display:block; 
    margin:20px;
    width:50px;
    height:40px;
    position:fixed;
    right:1%;
    top:calc(5% - 25px);
    transition:all .35s;
    cursor:pointer;
    
}

input[id="menuicon"] + label span{
    display:block;
    position:absolute;
    width:100%;
    height:5px;
    border-radius:30px;
    background:#000;
    transition:all .35s;
}
input[id="menuicon"] + label span:nth-child(1) {
    top:0;
}
input[id="menuicon"] + label span:nth-child(2){
    top:50%;
    transform:translateY(-50%);
}
input[id="menuicon"] + label span:nth-child(3){
    bottom:0;
}
input[id="menuicon"]:checked + label{
    z-index:2;
    right:250px;
}     
input[id="menuicon"]:checked + label span {
    background:#000;
}
input[id="menuicon"]:checked + label span:nth-child(1){
    top:50%;
    transform:translateY(-50%) rotate(45deg);
}
input[id="menuicon"]:checked + label span:nth-child(2){
    opacity:0;
}
input[id="menuicon"]:checked + label span:nth-child(3){
    bottom:50%;
    transform:translatey(50%) rotate(-45deg);
}

.sidebar {
    width:250px;
    height:100%;
    background:#222;
    position:fixed;
    top:0;
    right:-300px;
    z-index:1;
    transition:all .35s;
}
input[id="menuicon"]:checked + label + div {
    right:0;
}

.menuFont1{
    font-family: 나눔명조;
    font-size: 150%;
    color: #fff;
    margin-left: 10%;
    margin-top: 15%;
    cursor: pointer;
    z-index: 2;
}

.menuFont2{
    font-family: 나눔명조;
    font-size: 150%;
    color: #fff;
    margin-left: 10%;
    margin-top: 5%;
    cursor: pointer;
    z-index: 2;
}

.roundCheck {
    width: 100px;
    height: 100px;
    border: 3px solid black;
    border-radius: 3em;
    z-index: 13;
}

.loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}


@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}